// Include Color
@import "_incl/colors";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div#vrm-topbar {
    div#topbar-section {
      div.vrm-logo-text-admin {
        a.vrm-logo-link {
          img {
            width: 35% !important;
          }
          span {
            display: none !important;
          }
        }
      }

      div.vrm-topcar-control {
        ul {
          li {
            padding: 0 2.5vw;
            &:last-child {
              a {
                i {
                  color: color(yellow) !important;
                }
                span {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // MAIN APP
  div.vrm-app {
    /**
    ** Sidebar
    */
    div#vrm-sidebar {
      //   width: 10% !important;
      div#sidebar {
        div.vrm-admin-sidebar {
          width: 45% !important;
          div.sidebar-menu {
            margin-top: 20%;
            ul.menu {
              li.sidebar-item {
                a {
                  //   padding: 0.7rem 1rem !important;
                  i {
                    // font-size: 1.7rem !important;
                  }
                  span {
                  }
                }

                &.has-sub {
                  li {
                  }
                  .sidebar-link {
                    &::after {
                    }
                  }
                  ul.submenu {
                    li.submenu-item {
                      //   display: block !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /**
    ** Main
    */
    div#vrm-main {
      width: 100% !important;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  div#vrm-topbar {
    div#topbar-section {
      div.vrm-logo-text-admin {
        a.vrm-logo-link {
          img {
            display: none !important;
          }
          span {
          }
        }
      }

      div.vrm-topcar-control {
        ul {
          li {
            padding: 0 2.5vw;
            &:last-child {
              a {
                i {
                  color: color(yellow) !important;
                }
                span {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // MAIN APP
  div.vrm-app {
    /**
    ** Sidebar
    */
    div#vrm-sidebar {
      //   width: 10% !important;
      div#sidebar {
        div.vrm-admin-sidebar {
          width: 30% !important;
          div.sidebar-menu {
            margin-top: 20%;
            ul.menu {
              li.sidebar-item {
                a {
                  //   padding: 0.7rem 1rem !important;
                  i {
                    // font-size: 1.7rem !important;
                  }
                  span {
                  }
                }

                &.has-sub {
                  li {
                  }
                  .sidebar-link {
                    &::after {
                    }
                  }
                  ul.submenu {
                    li.submenu-item {
                      //   display: block !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /**
    ** Main
    */
    div#vrm-main {
      width: 100% !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  div#vrm-topbar {
    div#topbar-section {
      div.vrm-logo-text-admin {
        a.vrm-logo-link {
          img {
            width: 12% !important;
          }
          span {
          }
        }
      }

      div.vrm-topcar-control {
        ul {
          li {
            padding: 0 2.5vw;
            &:last-child {
              a {
                i {
                  color: color(yellow) !important;
                }
                span {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
  // MAIN APP
  div.vrm-app {
    /**
    ** Sidebar
    */
    div#vrm-sidebar {
      //   width: 10% !important;
      div#sidebar {
        div.vrm-admin-sidebar {
          width: 5% !important;
          div.sidebar-menu {
            margin-top: 65%;
            ul.menu {
              li.sidebar-item {
                margin-top: 0px !important;
                a {
                  //   padding: 0.7rem 1rem !important;
                  padding: 24% 24% !important;
                  i {
                    font-size: 1.3rem !important;
                    height: 0% !important;
                  }
                  span {
                    display: none !important;
                  }
                  &::after {
                    top: 50% !important;
                  }
                }

                &.has-sub {
                  li {
                  }
                  .sidebar-link {
                    &::after {
                      content: "" !important;
                    }
                  }
                  ul.submenu {
                    li.submenu-item {
                      display: none !important;
                    }
                  }
                }

                &:hover {
                  background-color: color(spe-blue-1) !important;
                  i {
                    color: color(white) !important;
                  }
                }

                &.active {
                  &:hover {
                    i {
                      color: color(white) !important;
                    }
                  }
                }
              }

              hr {
                margin-top: 0rem !important;
                margin-bottom: 0px !important;
              }
            }
          }
        }
      }
    }

    /**
    ** Main
    */
    div#vrm-main {
      width: 100% !important;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
